@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
@source '../src/**/*.{js,ts,jsx,tsx}';
@import '../src/styles/theme.css';

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

img,
svg,
video,
canvas {
  max-width: 100%;
}
